/* css reset */

* {
  margin: 0px;
  padding: 0px;
}

/* :root {
  --navbar-height: 59px;
} */
html {
  scroll-behavior: smooth;
}

/* navbar section */

#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.4;
}
#navbar {
  height: 110px;
  width: 100%;
  top: 0px;
  position: sticky;
  align-items: center;
  display: flex;
}
#navbar ul {
  font-family: "Baloo Bhai 2", sans-serif;
  margin: auto 15px;
  display: flex;
}
#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}
#navbar ul li a {
  color: white;
  display: block;
  text-decoration: none;
  padding: 7px 28px 0px 30px;
  border-radius: 40px;
}
#navbar ul li a:hover {
  color: black;
  background-color: white;
}

/* home section */

#home::before {
  content: "";
  background: url("/imgP2/Ssi.jpg") no-repeat center center/cover;
  position: absolute;
  height: 610px;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  /* opacity: 0.83; */
}
#home {
  height: 320px;
  display: flex;
  flex-direction: column;
  padding: 3px 200px;
  justify-content: center;
  align-items: center;
}
#home h1 {
  color: white;
  text-align: center;
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}
#home p {
  color: white;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Bree Serif", serif;
  font-style: normal;
}
/* service section */
#services {
  z-index: -1;
  display: flex;
}
#services .box {
  background: #e0d9d9e0;
  border-radius: 24px;
  padding: 84px;
  margin: 17px 14px;
  margin-bottom: 30px;
  border: 1px solid brown;
}
#services .box img {
  display: block;
  margin: auto;
  height: 260px;
}

/* client section */
#client-section::before {
  content: "";
  position: absolute;
  background-color: antiquewhite;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.45;
}

#client-section {
  z-index: -1;
  /* margin: 22px auto; */
  position: relative;
  /* height: 344px; */
}
#clients {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-items {
  padding: 32px 100px 40px 79px;
}
#clients img {
  height: 220px;
}

/* contact section */

#contact {
  /* z-index: -1; */
  position: relative;
}

#contact::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
  background: url("/imgP2/2.jpg") no-repeat center center/cover;
}

#contact-box input,
#contact-box textarea {
  width: 100%;
  padding: 0.33rem;
  border-radius: 9px;
  font-size: 1.1rem;
}

#contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
}

#contact-box form {
  width: 37%;
}
#contact-box label {
  font-size: 1.25rem;
  font-family: "Bree Serif", serif;
}

/* foooter section */

footer {
  background-color: black;
  /* border-color: black; */
  color: white;
  padding: 9px 20px;
  height: 200px;
}

/* utility class */
.h-primary {
  font-family: "Bree Serif", serif;
  font-size: 2.5rem;
  padding: 180px 0px 24px 0px;
}

.h-secondary {
  font-family: "Bree Serif", serif;
  font-size: 1.8rem;
  padding: 12px;
}
.butn {
  padding: 8px 179px 9px 186px;
  border: 2px solid white;
  background-color: #3f403596;
  color: white;
  margin: 17px;
  font-size: 1.4rem;
  border-radius: 10px;
  cursor: pointer;
}
.butn:hover {
  background-color: rgba(225, 201, 169, 0.891);
}
.center {
  text-align: center;
}
.details {
  display: inline-block;
  margin: 28px;
  text-decoration: none;
  text-align: left;
}
/* .links{
  top: 0px;
 display: flex;
 align-items: right;
 justify-content: right;
} */
